:root{
    --xs: 384px;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --pageMaxWidth: 1200px;

    --defaultFontSize: 1.2rem;
    --mainFont: Verdana, Geneva, sans-serif; 
    /* --mainFont:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial; */
    --inputFont: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

    --defaultMargin: 1rem;
    --defaultPadding: 0.5em;
    --defaultBorderRadius: 0.3em;
    --headerPadding: 0.8vw;

    --textcolor: lavender;
    --backgroundColor: hsl(275, 100%, 5%)  ;
    --backgroundColorSideways: black; 
    --backColorLight: lavender; 
    --backColorBlue:hsl(208, 100%, 40%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
    font-family: var(--mainFont);
    background-color: var(--backgroundColorSideways);
    font-size: var(--defaultFontSize);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: auto; /*centers body*/
    max-width: min(var(--pageMaxWidth),100vw);
    box-sizing: border-box;
    color: var(--textcolor);
    line-height: 1.5;
    background: var(--backgroundColor); 
}

/*<main> or all body elements if <main> does not exist.*/
body>*:not(header){margin: 0 2vw}  

.scrollable {
	overflow-y: scroll; /* Add the ability to scroll */
	scrollbar-width: none;  /* Hide scrollbar - Firefox */
}
.scrollable::-webkit-scrollbar { /* Hide scrollbar - Chrome, Safari and Opera */
    display: none;
    scrollbar-width: none;
}


/* Text-level semantics 
   ========================================================================== */

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    margin: calc(2*var(--defaultMargin)) 0 var(--defaultMargin) 0;
    padding: 0;
}
h1{font-size: 2.2rem;}
p{margin: var(--defaultMargin) 0;}
a{color: var(--textcolor)}
a:hover{color: hsl(221, 44%, 70%)}
.bold{font-weight:bold}
.italics{font-style:italic}
.underlined{text-decoration:underline}
.s12{font-size:1.2rem}
.s15{font-size:1.5rem}
.s20{font-size:2rem}
.s25{font-size:2.5rem}
.s30{font-size:3rem}
.s40{font-size:4rem}


/**********************************             SLIM CONTAINERS              ********************************/

.xxs{max-width: var(--xxs)}
.xs{max-width: var(--xs)}
.sm{max-width: var(--sm)}
.md{max-width: var(--md)}
.lg{max-width: var(--lg)}



/**********************************             DIM STRUCTURE              ********************************/

.center-contents{
	display: grid;              /*(το grid έχει το ίδιο αποτέλεσμα με το flex:space-around) */
	place-items: center;
}

[class*="inline-contents"]{			
	display: flex;
	flex-flow: row wrap;		
	justify-content: center;	
    align-items: center;		
    gap: 1rem;	
}
[class*="inline-contents-top"]{				
    align-items: start;	
}
@media (max-width: 768px) {.inline-contents-md, .inline-contents-top-md {flex-direction: column !important; align-items: center;}}		
@media (max-width: 992px) {.inline-contents-lg, .inline-contents-top-lg {flex-direction: column !important; align-items: center;}}	

@media (width < 576px){
    .sm-hide{
        display: none;
    }
    .sm-center{
        text-align: center;
    }
}
@media (width < 768px){
    .md-hide{
        display: none;
    }
    .md-center{
        text-align: center;
    }
}


/**********************************             PAGE SPECIFIC              ********************************/
.lead-phrase{
    font-size: min(2rem,8vw);
    line-height: min(2.8rem,9vw);
    margin: 1rem;
    text-align: center;
}
.img-logo{
    max-width: min(250px,95%);
}
.img-card{
    max-width: min(500px,95%);
    max-height: 480px;
}
.contact-table{
    table-layout: fixed; 
    width: min(450px,95%);
}
.contact-table tr{
    line-height: 1.5rem;
}
.contact-table td{
    padding: 0.2rem;
}

